---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Tool from "../icons/Tool.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import School from "../icons/School.astro";
import Academic from "../components/Academic.astro";
import { profile } from "../../cv.json";
import Skills from "../components/Skills.astro";
---

<Layout
  title="Portfolio de Víctor - Programador y Desarrollador Web."
  description="Contrata a Víctor para crear tu aplicación web"
>
  <main class="px-4 mb-10">
    <section class="w-full lg:w-[740px] mx-auto mt-40" id="top">
      <img
        class="rounded-full size-24 mb-4"
        src={profile.image.path}
        alt={profile.image.altText}
      />
      <h1
        class="text-gray-800 dark:text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        {profile.name}
        <a
          href="https://www.linkedin.com/in/víctor-manuel-faría-chávez-5a848914b"
          rel="noopener"
          target="_blank"
          class="flex justify-center items-center"
        >
          <Badge>{profile.badge}</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-gray-800 dark:text-white opacity-80 text-wrap max-w-[700px]"
      >
        {profile.description}
      </h2>

      <ul class="flex gap-4 mt-8 flex-wrap text-black/80 dark:text-white">
        <li>
          <SocialPill
            href="https://www.linkedin.com/in/víctor-manuel-faría-chávez-5a848914b"
          >
            <LinkedinIcon class="size-4 md:size-6" />
            LinkedIn
          </SocialPill>
        </li>
        <li>
          <SocialPill href="https://github.com/victorfch">
            <GithubIcon class="size-4 md:size-6" />
            GitHub
          </SocialPill>
        </li>
        <li>
          <SocialPill href="mailto:vfariachavez@gmail.com">
            <MailIcon class="size-4 md:size-6" />
            vfariachavez@gmail.com
          </SocialPill>
        </li>
      </ul>
    </section>
    <section class="w-full lg:w-[740px] mx-auto mt-24" id="experience">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia
      </h2>
      <Experience />
    </section>
    <section class="w-full lg:w-[740px] mx-auto mt-24" id="projects">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white"
      >
        <Code class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </section>
    <section class="w-full lg:w-[740px] mx-auto mt-24" id="edu">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white"
      >
        <School class="size-8" />
        Educación
      </h2>
      <Academic />
    </section>
    <section class="w-full lg:w-[740px] mx-auto mt-24" id="skills">
      <h2
        class="text-4xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white"
      >
        <Tool class="size-8" />
        Habilidades
      </h2>

      <Skills />
    </section>
  </main>
</Layout>
