---
import { projects } from "../../cv.json";
---

{
  projects.map(({ title, description, link, tags, image }) => (
    <article class="mb-4">
      <a href={link} target="_blank">
        <h3 class="text-2xl font-semibold text-yellow-400 mb-2">{title}</h3>
        <p class="text-lg mb-4 text-pretty text-black/80 dark:text-white">
          {description}
        </p>
        <ul class="flex gap-x-2 mb-2 text-black/80 dark:text-white">
          {tags.map((tag) => (
            <li class="rounded-full text-xs py-1 px-2">{tag}</li>
          ))}
        </ul>
        <figure class="overflow-hidden rounded shadow-2xl shadow-white/5 dark:opacity-75">
          <img
            class="hover:scale-105 transition"
            src={image}
            alt={`Captura de pantalla de ${image}`}
          />
        </figure>
      </a>
    </article>
  ))
}
